#After Adding you email please Rename the file to .env from .env.example

#Add your email
EMAIL=
#Add your password
PASSWORD=
#Add Skills According to yourself
SKILLS=React.js,Node.js,TypeScript
YEARS=2
COMPANY_SIZE=0
JOB_TYPE=0
STATUS=0
SOURCE=opportunities