EMAIL=your_email_here
PASSWORD=your_password_here

# 0 = Any, 1 = Small, 2 = Medium, 3 = Large (you can tweak later)
COMPANY_SIZE=0
# 0 = Any, 1 = Full-time, 2 = Contract, etc.
JOB_TYPE=0
# Comma separated skills (VERY IMPORTANT)
SKILLS=React.js,Node.js,TypeScript
# Keep this as opportunities
SOURCE=opportunities
# 0 = Active jobs
STATUS=0
# Years of experience
YEARS=2
